body{
    font-family: sans-serif;
}

.game-area{
    position: relative;
    height: 540px;
    width: 540px;
    display: inline-block;
    margin: auto;
    text-align: center;
    background:url('../img/board.jpg') no-repeat;
    margin-left: -10px;
    margin-right: -10px;
    z-index: 1;
}

.game-area > table {
    margin-left:17px;
    margin-top: 19px;
}

td{
    width: 68px;
    height: 68px;
}

.tile {
    width: 67px;
    height: 67px;
    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
}

.board {
    background-repeat: no-repeat;
}

.emptyCell {
    width: 68px;
    height: 68px;
}

#placement{
    display: block;
    position: absolute;
    margin: 10px;
    top: 540px;
    left: -3px;
}

.selected{
    outline-style: solid;
    outline-width: 3px;
    outline-color: greenyellow;
}

.player{
    position: relative;
    display: inline-block;
    width: 30%;
    height: 540px;
    opacity: 0.3;
}

.player > .content-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
}

#blue{    
    background-color: #01579B;
}

#brown{
    background-color: #5D4037;
}

.onTurn{
    opacity: 1;
}

.scoreBoard {
    border-collapse: collapse;
}

.scoreBoard td{
    width: 40px;
    height: 40px;
    border: 1px solid;
}

.scoreBoard img{
    width: 40px;
    height: 40px;
}

input, button{
    display: inline-block;
}

.playerActive{
    color: aqua;
    border-bottom-width: 2px;
    border-bottom-color: aliceblue;
    border-bottom-style: double;
}
.finishGame{
    opacity: 1;
}